<h2>We are sorry but to be able to add new expense, first You have to choose a group in a database.</h2>
<h3>Please go to the list of groups to choose one.</h3>
<form>
    <button type="submit" asp-controller="Table" asp-action="Alltables" class="btn btn-info">Go to list</button>
</form>
