@{ 
    ViewData["Title"] = "Sorry";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 p-6">

            <h2>We are sorry but to be able to add new expense, first you have to choose a group in a database.</h2>
            <h3>Please go to the group list to choose one.</h3>
            <br />
            <form class="text-center">
                <button type="submit" asp-controller="Table" asp-action="Alltables" class="btn btn-outline-dark m-4">
                Go to the group list</button>
            </form>

        </div>
    </div>
</div>
