@model string 

<h2>Gratki bo myślałem że nic z tego nie będzie ..</h2>
<p>@Model</p>
<div class="row">
    <div class="col-md-12">

        <a asp-controller="Table" asp-action="Info" asp-rout-id="1">Back to Expenses</a>

    </div>
</div>