@model int 

<h2>Gratki bo myślałem że nic z tego nie będzie ..</h2>

<div class="row">
    @if(Model!=0)
    {
        <div class="col-md-6">
            <a asp-controller="Expense" asp-action="Details" asp-route-id="@Model">Back to Expenses</a>
        </div>
    }

    <div class="col-md-6">
        <a asp-controller="Table" asp-action="Alltables">Back to group list</a>
    </div>
</div>
