@model TripShare.NewTableViewModel


    <div class="container">
        <div class="row text-justify p-3">
            <h4>Create new group!</h4>
            <h5>
                Please fill the form below. You have to add at least 2 Members. Remember that each name has to be unique.
            </h5>
        </div>
        <div class="row">
            
            <form asp-action="Add" method="post" role="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="TableName">Enter the name of the group</label><br />
                            <input type="text" asp-for="TableName" value="Mikasy" /><br />
                            <span class="text-danger" asp-validation-for="TableName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NumberOfMembers">Number of members</label><br />
                            <input type="number" asp-for="NumberOfMembers" id="HowMany" value="2" /><br />
                            <span class="text-danger" asp-validation-for="NumberOfMembers"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>Add members</p>
                        <div class="form-group pb-0">
                            @for (var i = 0; i < 2; i++)
                            {
                                <label>Name:</label><br />
                                <input type="text" asp-for="Names" /><br />
                            }
                            <span class="text-danger" asp-validation-for="Names"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-dark" type="submit">Create a new group!</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>