


<div class="container-fluid p-2">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h2>Congratulations, you've just created a group.</h2>
            <h5>
                Now you can add expenses and view share results. 
                Go to the list of groups to find and checkout your group.
            </h5>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-dark" value=""
                    onclick="location.href='@Url.Action("Alltables", "Table")'">
                Go to the group list
            </button>
        </div>
    </div>
</div>
