


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Congratulations, you've just created a group.</h2>
            <p class="text-justify">Now you can add expenses and view share results. Go to the list of all the groups
            by pressing <i>All groups</i> in the navigation bar to find and checkout your group.</p>
        </div>
    </div>

</div>
