@{
    ViewData["Title"] = "About author and privacy policy";
}


    <div class="container p-2">
        <div class="row">
            <div class="col-md-12">
                <p>Place for site's privacy policy.</p>

                <p class="text-justify">
                    Hi! My name is Adam Wiener and I'm an ASP.NET junior candidate. Thank you for checking my
                    simple web app. I hope you enjoyed it. As mentioned I'm just the beginner and looking forward to know your opinion.
                    I appreciate any constructive criticism ;)
                </p>

                <p class="text-justify">During my work besides ASP.NET technologies I was using:</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="obraz">
                                <i class="fab fa-8x fa-bootstrap" style="color:darkmagenta"></i>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="obraz">
                                <i class="fab fa-8x fa-js" style="color:yellow"></i>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="obraz">
                                <img src="~/img/jezykc.jpg" alt="C#">
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fas fa-arrow-left" style="color:gray" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fas fa-arrow-right" aria-hidden="true" style="color:gray"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <h4>Contact info</h4>
                <p>Email: eadamwinter@gmail.com</p>
                <link>GitHub: <a href="https://github.com/eadamwinter">https://github.com/eadamwinter</a>
               
            </div>
        </div>
    </div>