@{
    ViewData["Title"] = "Home Page";
}
@model List<string>

    <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
            <h1 class="display-4 text-center">Calculation results:</h1>


            @foreach (var line in Model)
            {
                <p>@line</p>
            }

        </div>

        <div class="col-1"></div>
    </div>
