@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center p-3">Welcome in TripShare!</h2>
        </div>
    </div>

    <div class="row mt-4">
            <div class="col-md-2 offset-md-3 col-sm-12 col-12" style="text-align:center">
                <img class="obraz" src="~/img/money.png" />
            </div>

            <div class="col-md-7 col-sm-12 col-12">
                <ul class="text-md-left text-center" style="list-style-type:none;">
                    <li><h4>Create groups ..</h4></li>
                    <li><h4>.. add expenses ..</h4></li>
                    <li><h4>.. share it between members ..</h4></li>
                    <li><h4>.. calculate results ..</h4></li>
                </ul>
            </div>
    </div>

    <div class="row mt-2">
        <div class="offset-md-2"></div>
        <div class="col-md-10 col-12">
            <h3>.. and have fun</h3>
            <p class="text-justify">If you are here for the first time, visit <i>How it works</i> page. 
            You can go there via the navigation bar.</p>
        </div>
    </div>

</div>
