@{
    ViewData["Title"] = "Home Page";
}
@model Dictionary<string, decimal>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach(var d in Model)
    {
        <p>@d.Key</p>
        <p>@d.Value</p>
    }

</div>
