@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<table id="myTable">
    <tr>
        <td>Row1 cell1</td>
        <td>Row1 cell2</td>
    </tr>
    <tr>
        <td>Row2 cell1</td>
        <td>Row2 cell2</td>
    </tr>
    <tr>
        <td>Row3 cell1</td>
        <td>Row3 cell2</td>
    </tr>
</table>
<br>

<button type="button" onclick="myFunction()">Try it</button>

<script>
    function myFunction() {
        var table = document.getElementById("myTable");
        var row = table.insertRow(0);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = '<label type="text" value="Podaj imie" />'
        cell2.innerHTML = '<input type="text" class="text-box single-line" value="Podaj imie" />';
    }
</script>


<form id="ble">
    <label>Imie</label>
    <input name="name" type="text" value="" />
    <input id="ile" type="number" value=2 />
</form>

<button onclick="my()">Add new member</button>

<script>
    function my() {

        var numberOfMembers = Number($("#ile").attr("value")) + 1;
       
        var member = document.createElement("INPUT");
        member.setAttribute("type", "text");
        member.setAttribute("value", numberOfMembers);

        document.getElementById("ble").appendChild(member);

        $("#ile").attr("value", numberOfMembers)
    }
</script>